
* {
    font-size: 20px;
}

h1 {
    text-align: center;
    background-color: maroon;
    color: white;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 20px;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

.input1 {
    margin-right: 50px;
    }

.input2 {
    margin-right: 31px;
}


.output {
    text-align: center;
}


.form1 {
text-align: center;
}
